<h3>Messages</h3>
  <ul id="messageList">
  </ul>
<script>
  // Basic python websocket server
  //var exampleSocket = new WebSocket("ws://localhost:8765");
  // Tornado python websocket server
  var exampleSocket = new WebSocket("ws://localhost:8888/ws");
  exampleSocket.onopen = function(){
     $('#messageList').append('<li>' + 'Connected to websocket server!' + '</li>');
  }
  exampleSocket.onmessage = function (event) {
    $('#messageList').append('<li>' + event.data + '</li>');
  }
</script>
